section#list-view-2 {
    margin: 20px 0 0
}

section#list-view-2 article:first-child {
    border: 0;
    padding: 0
}

section#list-view-2 article {
    margin-bottom: 30px;
    border-top: 1px solid #eee;
    padding: 20px 0 0
}

section#list-view-2 header {
    margin-bottom: 10px;
    position: relative
}

section#list-view-2 h2 {
    word-wrap: break-word
}

section#list-view-2 h2 a {
    font-size: 20px;
    color: #000;
}

section#list-view-2 .post-container {
    width: 500px;
    position: relative
}

section#list-view-2 .post-container a {
    display: block
}

section#list-view-2 .post-container a img {
    display: block;
    width: 500px;
    border: 0
}

.post-text-container {
    font-size: 16px;
    line-height: 24px
}

section#list-view-2 p.post-meta {
    color: #999;
    margin: 10px 0
}

section#list-view-2 p.post-meta a {
    color: #999
}

.post-afterbar-a.in-list-view {
    width: 500px
}

.post-afterbar-a.in-list-view {
    margin: 10px 0;
    padding-bottom: 0;
    position: relative;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.btn-vote {
    overflow: hidden
}

.btn-vote li {
    margin: 0 10px 0 0;
    float: left;
    list-style: none
}

.btn-vote a {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 44px;
    height: 34px;
    display: block;
    text-indent: -999px
}

.btn-vote a:hover,
.horizontal-vote a:hover,
.vertical-vote a:hover,
.post-afterbar-a .others a.more:hover {
    border: 1px solid #989595
}

.btn-vote .down {
    background: url("../images/sticky-vote.png") no-repeat 0 -32px;
}

.btn-vote .up {
    background: url("../images/sticky-vote.png") no-repeat
}

.btn-vote .comment {
    background: url("../images/other-buttons.png") no-repeat 0 -32px;
}

.post-afterbar-a .share {
    float: left;
}

.post-afterbar-a .share ul {
    overflow: hidden;
    list-style: none
}

.post-afterbar-a .share.right li {
    margin: 0 0 0 10px;
}

.post-afterbar-a .share li {
    float: left;
    margin-right: 10px;
}

.post-afterbar-a .btn-share {
    display: block;
    color: #fff;
    font-weight: 700;
    height: 34px;
    background-color: #f4f4f4;
    line-height: 34px;
    padding: 0 15px 0 34px;
    border-radius: 3px;
    text-align: center
}

.post-afterbar-a .btn-share.facebook {
    background: #3b5998 url("../images/sharing-button-a.png") 0 0 no-repeat;
}

.post-afterbar-a .btn-share.facebook:hover,
.post-afterbar-a .in-post-bot .btn-share.facebook:hover {
    background-color: #4c70ba
}

.post-afterbar-a .btn-share.twitter {
    background: #00aced url("../images/sharing-button-a.png") 0 -34px no-repeat;
}

.post-afterbar-a .btn-share.twitter:hover,
.post-afterbar-a .in-post-bot .btn-share.twitter:hover {
    background-color: #21c2ff
}

.post-afterbar-a .others {
    float: left;
}

.post-afterbar-a .others a.more {
    display: block;
    width: 42px;
    height: 32px;
    border: 1px solid #eee;
    overflow: hidden;
    border-radius: 3px;
    text-indent: -999px;
    background: #eee url("../images/other-buttons.png") no-repeat;
}

section#individual-post header {
    margin-bottom: 6px;
    position: relative;
}

section#individual-post header h2 {
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: 7px;
    word-wrap: break-word;
}

section#individual-post header p.post-meta,
section#individual-post header p.post-meta a {
    color: #999;
}

.badge-toolbar-pre {
    position: relative;
}

.fixed-wrap-post-bar {
    height: 54px;
    width: 100%;
}

.post-afterbar-a.in-post-top {
    padding: 10px 0;
    height: 34px;
    margin: 0px;
    border: 0;
    background-color: #fff;
}

.horizontal-vote a,
.vertical-vote a {
    display: block;
    width: 42px;
    height: 32px;
}

.horizontal-vote a.up,
.vertical-vote a.up {
    background: url("../images/sticky-vote.png") no-repeat
}

.horizontal-vote a.down,
.vertical-vote a.down {
    background: url("../images/sticky-vote.png") no-repeat 0 -32px;
}

.horizontal-vote a,
.vertical-vote a {
    display: block;
    width: 42px;
    height: 32px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-indent: -99px;
    border-radius: 3px;
}

.horizontal-vote {
    overflow: hidden;
    float: left;
    list-style-type: none;
    margin-right: 10px;
    position: relative;
    height: 34px;
    width: 113px;
}

.horizontal-vote li {
    float: left;
    position: absolute;
}

.horizontal-vote li a.up {
    text-indent: 0;
    border-radius: 3px 0 0 3px;
    padding-left: 36px;
    width: 32px;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    text-decoration: none;
}

.horizontal-vote li a.up span {
    display: block;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
}

.horizontal-vote li:last-child {
    left: 69px;
}

.popup-menu {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    z-index: 3;
    min-width: 160px;
}

.popup-menu.postpage-share {
    left: 402px;
    top: 34px;
}

.popup-menu ul {
    list-style-type: none;
    overflow: hidden;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
}

.popup-menu a {
    display: block;
    color: #777;
    background-color: #fff;
    line-height: 30px;
    padding: 0 20px;
    font-size: 13px;
}

.post-afterbar-a .post-nav {
    float: right;
}

.post-afterbar-a .post-nav a.next {
    display: block;
    padding-right: 12px;
    position: relative;
}

.post-afterbar-a .post-nav a.next span.label {
    padding: 0 8px 0 12px;
    font-weight: 700;
    height: 34px;
    line-height: 34px;
    display: block;
    background-color: #ff3c1f;
}

.post-afterbar-a .post-nav a.next span.arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 17px dashed transparent;
    border-bottom: 17px dashed transparent;
    border-left: 13px solid #ff3c1f;
}

.clearfix {
    clear: both
}

article.post-page .post-container a {
    display: inline;
    cursor: default
}

article.post-page .post-container a img {
    border: 0;
    margin: 0 auto;
}

article.post-page .post-container img {
    display: block;
    width: 600px;
}

.post-page .naughty-box {
    padding: 10px 0 0
}

.post-page .naughty-box .img-container {
    background-color: #f4f4f4;
    width: 630px;
    height: 90px;
    overflow: hidden
}

.post-afterbar-a {
    margin: 10px 0;
    padding-bottom: 0;
    position: relative
}

.post-afterbar-a.in-post-bot .share {
    float: none
}

.post-afterbar-a.in-post-bot .share ul {
    text-align: left;
    overflow: hidden
}

.post-afterbar-a.in-post-bot .share ul li:first-child {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.post-afterbar-a.in-post-bot.full-width .share li {
    margin: 0;
}

@media screen and (min-width: 728px) {
    .post-afterbar-a.in-post-bot.full-width .btn-share {
        width: 310px;
        height: 44px;
        line-height: 43px;
        font-size: 15px;
        padding: 0;
    }
}

.post-afterbar-a.in-post-bot .btn-share.twitter {
    background: #00aced
}

.post-afterbar-a.in-post-bot .btn-share.facebook {
    background: #3B5998
}

.post-afterbar-meta {
    color: #999;
    border-top: 1px solid #eee;
    padding: 5px 0
}

.post-afterbar-meta p {
    line-height: 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: right
}

.post-afterbar-meta a {
    color: #999;
}

#comment,
#comments {
    margin-top: -30px;
    height: 30px
}